---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Container, Row, Col } from "react-bootstrap";
---

<BaseLayout title="Max hangs">
  <center><h1 class="SketchyFont">Max hangs training</h1></center>
  <div class="content">
    <p>
      The most effective way to build finger strength is with a max hangs
      protocol. While there are many variations of this exercise, the principle
      remains the same: increase maximum finger strength by loading the fingers
      at a very high intensity.
    </p>
  </div>
  <br />
  <h2>What you will need (either or)</h2>
  <hr />
  <p>See shop to purchase any products below. Use code MaxHang for 10% off.</p>
  <br />
  <br />
  <Container>
    <Row>
      <Col>
        <a style="all: unset;" href="#training-section">
          <div id="hangboard" class="hover-content" style="margin-top:10px">
            <center>
              <img
                style="max-width: 50vw"
                src="/img/hangboard.png"
                alt="Hangboard"
                width="300"
              />
            </center>
            <h5>Hangboard</h5>
            <ul>
              <li>Hangboard (15mm - 20mm)</li>
              <li>Weight belt</li>
              <li>Weights</li>
              <li>Chalk</li>
            </ul>
          </div>
        </a>
      </Col>
      <Col>
        <a style="all: unset;" href="#training-section">
          <div id="crimp-block" class="hover-content" style="margin-top:10px">
            <center>
              <img
                style="max-width: 50vw"
                src="/img/lift-pin.webp"
                alt="Lifting pin"
                width="190"
              />
            </center>
            <h5>Crimp block</h5>
            <ul>
              <li>Crimp block (15mm - 20mm)</li>
              <li>Lifting pin</li>
              <li>Weights</li>
              <li>Chalk</li>
            </ul>
          </div>
        </a>
      </Col>
    </Row>
    <br />
    <center
      ><h5 style="color: grey">( select training method above )</h5></center
    >
    <div class="training-main" id="training-section">
      <hr />
      <center><h2 class="SketchyFont">Basics</h2></center>
      <h5>Grip positions</h5>
      The most common practice when finger training is to use a 'half crimp' (b)
      grip position as this engages the forearm muscles more than the other two positions.
      Others can be used such as 'drag' (a). Be aware
      <strong
        >it is not recomended to train in a full crimp position (c).</strong
      > Avoid lifting to failure, if you are struggling to maintain form when lifting
      stop and reduce the intensity.<br /><br />
      <center>
        <img
          style="border-radius: 5px; max-width: 80vw"
          src="/img/grip-positions.png"
          alt="Grip positions"
          width="380"
        />
      </center>

      <br /><br />
      <h5>Frequency and prioritisation</h5>
      Training fingers at least <strong>2x a week</strong> will result in best gains.
      Strength training needs to be prioritised to be most effective,
      <strong>put your training at the start of your session</strong>
      not then end. Everyone's capacity is diferent however its is not recomended
      to train fingers more than two days consecutively.
      <br />

      <div class="hangboard">
        <br />
        <h5>Shoulder engagement</h5>
        It is important to ensure shoulder are engaged correctly to prevent shoulder
        injuries when hangboarding. Shoulder blades should be pushed back and down,
        and there should be a slight bend at the elbows. Imagine trying to keep your
        ears away from you biceps/shoulders.<br />
        <br />
        <center>
          <img
            style="border-radius: 5px; max-width: 80vw"
            src="/img/hangboard-form.jpg"
            alt="Hangboard form"
            width="380"
          />
        </center>
      </div>

      <div class="crimp-block">
        <br />
        <h5>Lifting form</h5>
        When using a crimp block it is important to maintain good form. Similar to
        a deadlift it is import to drive power from the legs, not hinging the back.
        Aim to keep a straight back, start with legs bent like a squat. Aim to keep
        your arm straight and use your legs to lift. You are training your fingers
        not biceps so you shouldn't be lifting the pin by bending your elbow.
        <br />
        <br />
        When lifting begin gently and apply power slowly, this avoids shock loading
        the tendons and allows you to ensure your grip form is correct.
        <br />
        <center>
          <img
            style="border-radius: 5px; max-width: 80vw"
            src="/img/lift-form.png"
            alt="Lifting pin form"
            width="380"
          />
        </center>
      </div>

      <br />
      <h5>Pain or discomfort</h5>
      Training can be an uncomfortable process, especially when pushing your maximum
      strength capabilities. However <strong>it should never be painful.</strong
      > If you experience pain while training, stop. If you experience pain a day
      or two after, rest and consider reducing weight and/or reducing how regularly
      you train.

      <br /><br /><br />
      <center><h2 class="SketchyFont">Warm up</h2></center>

      In total the warm up should be at least 15 minutes. Inbetween sets of
      finger warm ups it is good practice to warm up shoulders also. This can
      include push ups, external rotation, arm circles etc.
      <br />
      <strong>Rest at least one minute between sets.</strong>
      <br />
      <br />
      <div class="content">
        <h5>Initial set</h5>
        <hr />
        <p class="hangboard">
          Start by hanging body weight or with feet on the ground, pulling at a
          comfortable yet substantial level. Hang this weight for 10 - 20
          seconds.
        </p>
        <p class="crimp-block">
          Start with 50% of your max lift. Slowly lift the weights using your
          chosen grip. Hold this for roughly three seconds then return slowly
          back down. Immediatly repeat this action for another 7 reps. This
          concludes the first warm up set.
        </p>
      </div>
      <br />
      <div class="content">
        <h5>Sets 2,3,4</h5>
        <hr />
        <p class="hangboard">
          Now start adding weight (incrementally) using the weight belt, <strong
            >begin light and build up.</strong
          ><br />
          For example if your aiming to hang +20kg in your main workout, start by
          adding +5kg, next set +10kg, last warm up set +15kg.
        </p>
        <p class="crimp-block">
          Now increase the weight (incrementally). If your last lift was 50%
          maybe try 60%. Again slowly lift the weights using your chosen grip.
          Hold for roughly three seconds and return down. Repeat for desired
          number of reps. As you get closer to 80% of your max, you can drop the
          warm up reps down to 6.
        </p>
      </div>
      <br /><br /><br />
      <center><h3 class="SketchyFont">Workout</h3></center>
      In total the warm up should be at least 15 minutes. Inbetween sets of finger
      warm ups it is good practice to warm up shoulders also. This can include push
      ups, external rotation, arm circles etc. <br />
      <strong>Rest at least one minute between sets.</strong>
    </div>

    <!-- <StrengthCalc client:load /> -->
  </Container>

  <script>
    document
      .querySelectorAll<HTMLElement>(".training-main")
      .forEach(function (el) {
        el.style.display = "none";
      });
    var hangboard = document.getElementById("hangboard"); //grab the element
    hangboard!.onclick = function () {
      document
        .querySelectorAll<HTMLElement>(".training-main")
        .forEach(function (el) {
          el.style.display = "inline";
        });
      document
        .querySelectorAll<HTMLElement>(".hangboard")
        .forEach(function (el) {
          el.style.display = "inline";
        });
      document
        .querySelectorAll<HTMLElement>(".crimp-block")
        .forEach(function (el) {
          el.style.display = "none";
        });
    };

    var crimpBlock = document.getElementById("crimp-block"); //grab the element
    crimpBlock!.onclick = function () {
      document
        .querySelectorAll<HTMLElement>(".training-main")
        .forEach(function (el) {
          el.style.display = "inline";
        });
      document
        .querySelectorAll<HTMLElement>(".hangboard")
        .forEach(function (el) {
          el.style.display = "none";
        });
      document
        .querySelectorAll<HTMLElement>(".crimp-block")
        .forEach(function (el) {
          el.style.display = "inline";
        });
    };
  </script>
</BaseLayout>
