---
import BaseLayout from "../../layouts/BaseLayout.astro";
import StrengthCalc from "../../components/StrengthCalc.tsx";
---

<BaseLayout title="Strength calculator">
  <center><h1 class="SketchyFont">Strength calculator</h1></center>
  <div class="content">
    <p>
      This tool helps to estimate your strength-to-weight ratio based on a
      linear regression using <a
        class="NoUnderline"
        href="https://static1.squarespace.com/static/56830ef60ab377cb562da204/t/5f99cebdafb139471fbafd67/1603915468772/BF_strength_climbing_correlations-MAR282018web.pdf"
        >Beast Climbing</a
      > research data. Methods used can be seen in the research, Optimizing Muscular
      Strength-to-Weight Ratios in Rock Climbing. Estimations are based on maximum
      volatile contraction (MVC) peak forces for each grade. This tool is applicable
      only for 20mm edges.
    </p>
  </div>
  <br />
  <StrengthCalc client:only="react" />
</BaseLayout>
