---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CartDrawer from "../components/CartDrawer.svelte";
import AnnouncementBar from "../components/AnnouncementBar.astro";
import NavBar from "../components/NavBar.tsx";

export interface Props {
  title: string;
  description?: string;
}

const defaultDesc =
  "A lightweight and minimalit Astro starter theme using Shopify with Svelte, Tailwind, and TypeScript.";

const { title, description = defaultDesc } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <style is:global>
      @import "../styles/global.css";
    </style>
  </head>
  <body>
    <!--<AnnouncementBar />-->
    <CartDrawer client:idle />
    <Header />
    <div class="container" style="max-width: 900px;">
      <NavBar client:idle />
    </div>
    <hr
      style="margin-top: 5px; background-color: #E8E8E8; height: 1px; border: 0;"
    />
    <div class="container" style="max-width: 900px;">
      <main>
        <slot />
      </main>
    </div>

    <Footer />
  </body>

  <style is:global>
    .hover-content {
      border: 2px solid lightgrey;
      border-radius: 5px;
      padding: 15px;
    }
    .hover-content:hover {
      background: WhiteSmoke;
      cursor: pointer;
    }
    p {
      display: inline;
    }
    a:hover {
      color: DodgerBlue;
    }
    :root {
      --accent: 97, 244, 222;
      --accent-light: 110, 120, 255;
      --accent-dark: 49, 10, 150;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    html {
      font-family: system-ui, sans-serif;
      background-size: 224px;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    @font-face {
      font-family: "SketchyFontB";
      src: url(/fonts/!SketchyTimes-b.ttf);
    }
    .TitlteFont {
      font-family: SketchyFontB;
      font-size: 60px;
      margin-top: -16px;
    }
    .TitlteFont2 {
      font-family: SketchyFontB;
      font-size: 25px;
      margin-top: -30px;
    }
    .NoUnderline {
      text-decoration: none;
    }
    .content {
      background: WhiteSmoke;
      border-radius: 5px;
      padding: 15px;
    }

    @font-face {
      font-family: "SketchyFont";
      src: url(/fonts/!sketchytimes.ttf);
    }
    .SketchyFont {
      font-family: SketchyFont;
      font-size: 50px;
      color: black;
    }
  </style>
</html>
